<!-- Footer - start -->
<footer class="footer-wrap">
    

    <div class="container f-menu-list">
        <div class="row">
            <div class="f-menu">
                <h3>
                    About us
                </h3>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="catalog-list.html">Catalog</a></li>
                    <li><a href="contacts.html">Contacts</a></li>
                </ul>
            </div>
            <div class="f-menu">
                <h3>
                    Danh mục
                </h3>
                <ul class="nav nav-pills nav-stacked">
                    {{#each cataLog}}
                    <li><a href="catalog-list.html">{{this.name}}</a></li>
                    {{/each}}
                </ul>
            </div>
            <div class="f-menu">
                <h3>
                    Thông tin
                </h3>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="blog.html">News</a></li>
                    <li><a href="reviews.html">Reviews</a></li>
                    <li><a href="blog.html">Articles</a></li>
                    <li><a href="contacts.html">Contacts</a></li>
                </ul>
            </div>
            
            <div class="f-subscribe">
                <h3>Subscribe to news</h3>
                <form class="f-subscribe-form" action="#">
                    <input placeholder="Your e-mail" type="text">
                    <button type="submit"><i class="fa fa-paper-plane"></i></button>
                </form>
                <p>Enter your email address if you want to receive our newsletter. Subscribe now!</p>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <ul class="social-icons nav navbar-nav">
                    <li>
                        <a href="http://facebook.com/" rel="nofollow" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://google.com/" rel="nofollow" target="_blank">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://twitter.com/" rel="nofollow" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://vk.com/" rel="nofollow" target="_blank">
                            <i class="fa fa-vk"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://instagram.com/" rel="nofollow" target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
                <div class="footer-copyright">
                    <i><a href="https://themeforest.net/user/real-web?ref=real-web">Real-Web</a></i> © Copyright 2017
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- Footer - end -->


<!-- jQuery plugins/scripts - start -->
<script src="/js/jquery-1.11.2.min.js"></script>
<script src="/js/jquery.bxslider.min.js"></script>
<script src="/js/fancybox/fancybox.js"></script>
<script src="/js/fancybox/helpers/jquery.fancybox-thumbs.js"></script>
<script src="/js/jquery.flexslider-min.js"></script>
<script src="/js/swiper.jquery.min.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>
<script src="/js/progressbar.min.js"></script>
<script src="/js/ion.rangeSlider.min.js"></script>
<script src="/js/chosen.jquery.min.js"></script>
<script src="/js/jQuery.Brazzers-Carousel.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhAYvx0GmLyN5hlf6Uv_e9pPvUT3YpozE"></script>
<script src="/js/gmap.js"></script>
<!-- jQuery plugins/scripts - end -->

</body>
</html>