{{> home_header}}
<main>
    <section class="container">

        <div class="err404">
            <h1 class="err404-ttl">{{error.status}}</h1>
            <p class="err404-subttl">
                {{message}}
            </p>

            <pre>{{error.stack}}</pre>  
        
        </div>
    </section>
</main>
{{> home_footer}}
