{{> home_header}}
<!-- Main Content - start -->
<main>
    <section class="container stylization maincont">


        <ul class="b-crumbs">
            <li>
                <a href="index.html">
                    Home
                </a>
            </li>
            <li>
                <span>Cart</span>
            </li>
        </ul>
        <h1 class="main-ttl"><span>Cart</span></h1>
        <!-- Cart Items - start -->
        <form action="#">

            <div class="cart-items-wrap">
                <table class="cart-items">
                    <thead>
                    <tr>
                        <td class="cart-image">Photo</td>
                        <td class="cart-ttl">Products</td>
                        <td class="cart-price">Price</td>
                        <td class="cart-quantity">Quantity</td>
                        <td class="cart-del">&nbsp;</td>
                    </tr>
                    </thead>
                    <tbody>
                        {{#with allItem}}
                        {{#each products}}
                    <tr>
                        <td class="cart-image">
                            <a href="product.html">
                                <img src="http://placehold.it/61x80" alt="Similique delectus totam">
                            </a>
                        </td>

                        <td class="item-id" style="display: none;">{{this.id}}</td>
              
                        <td class="cart-ttl">
                            <a href="">{{this.productName}}</a>
                        </td>
                        <td class="cart-price">
                            <b>{{this.buyPrice}}</b>
                        </td>
                       
                        <td class="cart-quantity">
                            <p class="cart-qnt">
                                <input value="1" type="text">
                                <a href="#" class="cart-plus"><i class="fa fa-angle-up"></i></a>
                                <a href="#" class="cart-minus"><i class="fa fa-angle-down"></i></a>
                            </p>
                        </td>
                        <td class="cart-del">
                            <a href="/carts/del/{{this.id}}" class="cart-remove"></a>
                        </td>
                    </tr>
                     {{/each}}
                    {{/with}}
                    </tbody>
                </table>
            </div>
            <ul class="cart-total">
                <li class="cart-summ"></li>
            </ul>
            <div class="cart-submit">
                
                <a href="" class="cart-submit-btn">Checkout</a>
                <a href="#" class="cart-clear">Clear cart</a>
            </div>
        </form>
        <!-- Cart Items - end -->

    </section>
</main>
<script>

    let cartPrice = document.querySelectorAll(".cart-price");
    cartPrice = [...cartPrice]
    cartPrice.splice(0, 1);
    let total = 0;

    cartPrice.forEach((e, i)=>{
        total += Number(e.innerText)
    })

    let totalValue = document.querySelector(".cart-summ");

    totalValue.innerText = "TOTAL: " + total

    let checkoutBtn = document.querySelector(".cart-submit-btn");

    checkoutBtn.addEventListener("click", ()=>{
        window.location.assign(`/orders/add?=`)
    })

</script>
<!-- Main Content - end -->
{{> home_footer}}