{{> home_header}}
<!-- Main Content - start -->
<main>
  <section class="container">

    <!-- Slider -->
    <div class="fr-slider-wrap">
      <div class="fr-slider">
        <ul class="slides">
          <li>
            <img src="img/slider/slide1.jpg" alt="" />
            <div class="fr-slider-cont">
              <h3>MEGA SALE -30%</h3>
              <p>Winter collection for women's.
                <br />We all have choices for you. Check it out!</p>
              <p class="fr-slider-more-wrap">
                <a class="fr-slider-more" href="#">View collection</a>
              </p>
            </div>
          </li>
          <li>
            <img src="img/slider/slide1.jpg" alt="" />
            <div class="fr-slider-cont">
              <h3>NEW COLLECTION</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br
                />Aliquam consequuntur dolorem doloribus fuga harum</p>
              <p class="fr-slider-more-wrap">
                <a class="fr-slider-more" href="#">Shopping now</a>
              </p>
            </div>
          </li>
          <li>
            <img src="img/slider/slide1.jpg" alt="" />
            <div class="fr-slider-cont">
              <h3>SUMMER TRENDS</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br
                />Aliquam consequuntur dolorem doloribus fuga harum</p>
              <p class="fr-slider-more-wrap">
                <a class="fr-slider-more" href="#">Start shopping</a>
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <!-- Popular Products -->
    <div class="fr-pop-wrap">

      <h3 class="component-ttl"><span>Popular products</span></h3>

      <ul class="fr-pop-tabs sections-show">
        <li><a
            data-frpoptab-num="1"
            data-frpoptab="#frpoptab-tab-1"
            href="#"
            class="active"
          >All Categories</a></li>
      </ul>

      <div class="fr-pop-tab-cont">

        <p
          data-frpoptab-num="1"
          class="fr-pop-tab-mob active"
          data-frpoptab="#frpoptab-tab-1"
        >All Categories</p>
        <div class="flexslider prod-items fr-pop-tab" id="frpoptab-tab-1">

          <ul class="slides">
            {{#each cataLog}}
            <li class="prod-i">
              <div class="prod-i-top">
                <a href="product" class="prod-i-img"><!-- NO SPACE --><img
                    src="/uploads/img/category/laptop.png"
                    alt="Aspernatur excepturi rem"
                  /><!-- NO SPACE --></a>
     
                <p class="prod-i-addwrap">
                  <a href="#" class="prod-i-add">Go to detail</a>
                </p>
              </div>
              <h3>
                <a href="product">{{this.name}}</a>
              </h3>
            </li>
          {{/each}}
          </ul>

        </div>

        <p
          data-frpoptab-num="2"
          class="fr-pop-tab-mob"
          data-frpoptab="#frpoptab-tab-2"
        >Kids</p>

        <p
          data-frpoptab-num="3"
          class="fr-pop-tab-mob"
          data-frpoptab="#frpoptab-tab-3"
        >Women</p>

        <p
          data-frpoptab-num="4"
          class="fr-pop-tab-mob"
          data-frpoptab="#frpoptab-tab-4"
        >Men</p>


        <p
          data-frpoptab-num="5"
          class="fr-pop-tab-mob"
          data-frpoptab="#frpoptab-tab-5"
        >Shoes</p>

      </div><!-- .fr-pop-tab-cont -->

    </div><!-- .fr-pop-wrap -->

    <!-- Banners -->
    <div class="banners-wrap">
      <div class="banners-list">
        <div class="banner-i style_11">
          <span
            class="banner-i-bg"
            style="background: url(https://baoha.com.vn/wp-content/uploads/2018/10/banner-laptop-tctshop-com-12.jpg);"
          ></span>
          <div class="banner-i-cont">
            <h3 class="banner-i-ttl">NHỮNG SẢN PHẨM MỚI</h3>
            <p class="banner-i-link"><a href="section">View More</a></p>
          </div>
        </div>
       
        <div class="banner-i style_12">
          <span
            class="banner-i-bg"
            style="background: url(https://imgs.vietnamnet.vn/Images/2017/06/06/11/20170606111712-imac-2017.jpg);"
          ></span>
          <div class="banner-i-cont">
            <h3 class="banner-i-ttl">MÀN HÌNH HD</h3>
            <p class="banner-i-link"><a href="/cata-log">View More</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Latest news -->
    <div class="posts-wrap">
      <div class="posts-list">
        {{#each allProducts}}
        <div class="posts-i">
          <a class="posts-i-img" href="post">
            <span style="background: url(http://placehold.it/354x236)"></span>
          </a>
          <div class="posts-i-info">
            <h3 class="posts-i-ttl">
              <a href="post">Add to cart</a>
            </h3>
          </div>
        </div>
        {{/each}}
      </div>
    </div>

    <!-- Testimonials -->
    

    <!-- Subscribe Form -->
    <div class="newsletter">
      <h3>Subscribe to us</h3>
      <p>Enter your email if you want to receive our news</p>
      <form action="#">
        <input placeholder="Your e-mail" type="text" />
        <input name="OK" value="Subscribe" type="submit" />
      </form>
    </div>

    <!-- Quick View Product - start -->
    <div class="qview-modal">
      <div class="prod-wrap">
        <a href="product">
          <h1 class="main-ttl">
            <span>Reprehenderit adipisci</span>
          </h1>
        </a>
        <div class="prod-slider-wrap">
          <div class="prod-slider">
            <ul class="prod-slider-car">
              <li>
                <a
                  data-fancybox-group="popup-product"
                  class="fancy-img"
                  href="http://placehold.it/500x525"
                >
                  <img src="http://placehold.it/500x525" alt="" />
                </a>
              </li>
              <li>
                <a
                  data-fancybox-group="popup-product"
                  class="fancy-img"
                  href="http://placehold.it/500x591"
                >
                  <img src="http://placehold.it/500x591" alt="" />
                </a>
              </li>
              <li>
                <a
                  data-fancybox-group="popup-product"
                  class="fancy-img"
                  href="http://placehold.it/500x525"
                >
                  <img src="http://placehold.it/500x525" alt="" />
                </a>
              </li>
              <li>
                <a
                  data-fancybox-group="popup-product"
                  class="fancy-img"
                  href="http://placehold.it/500x722"
                >
                  <img src="http://placehold.it/500x722" alt="" />
                </a>
              </li>
              <li>
                <a
                  data-fancybox-group="popup-product"
                  class="fancy-img"
                  href="http://placehold.it/500x722"
                >
                  <img src="http://placehold.it/500x722" alt="" />
                </a>
              </li>
              <li>
                <a
                  data-fancybox-group="popup-product"
                  class="fancy-img"
                  href="http://placehold.it/500x722"
                >
                  <img src="http://placehold.it/500x722" alt="" />
                </a>
              </li>
              <li>
                <a
                  data-fancybox-group="popup-product"
                  class="fancy-img"
                  href="http://placehold.it/500x722"
                >
                  <img src="http://placehold.it/500x722" alt="" />
                </a>
              </li>
            </ul>
          </div>
          <div class="prod-thumbs">
            <ul class="prod-thumbs-car">
              <li>
                <a data-slide-index="0" href="#">
                  <img src="http://placehold.it/500x525" alt="" />
                </a>
              </li>
              <li>
                <a data-slide-index="1" href="#">
                  <img src="http://placehold.it/500x591" alt="" />
                </a>
              </li>
              <li>
                <a data-slide-index="2" href="#">
                  <img src="http://placehold.it/500x525" alt="" />
                </a>
              </li>
              <li>
                <a data-slide-index="3" href="#">
                  <img src="http://placehold.it/500x722" alt="" />
                </a>
              </li>
              <li>
                <a data-slide-index="4" href="#">
                  <img src="http://placehold.it/500x722" alt="" />
                </a>
              </li>
              <li>
                <a data-slide-index="5" href="#">
                  <img src="http://placehold.it/500x722" alt="" />
                </a>
              </li>
              <li>
                <a data-slide-index="6" href="#">
                  <img src="http://placehold.it/500x722" alt="" />
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="prod-cont">
          <p class="prod-actions">
            <a href="#" class="prod-favorites"><i class="fa fa-heart"></i>
              Add to Wishlist</a>
            <a href="#" class="prod-compare"><i class="fa fa-bar-chart"></i>
              Compare</a>
          </p>
          <div class="prod-skuwrap">
            <p class="prod-skuttl">Color</p>
            <ul class="prod-skucolor">
              <li class="active">
                <img src="img/color/blue.jpg" alt="" />
              </li>
              <li>
                <img src="img/color/red.jpg" alt="" />
              </li>
              <li>
                <img src="img/color/green.jpg" alt="" />
              </li>
              <li>
                <img src="img/color/yellow.jpg" alt="" />
              </li>
              <li>
                <img src="img/color/purple.jpg" alt="" />
              </li>
            </ul>
            <p class="prod-skuttl">Sizes</p>
            <div class="offer-props-select">
              <p>XL</p>
              <ul>
                <li><a href="#">XS</a></li>
                <li><a href="#">S</a></li>
                <li><a href="#">M</a></li>
                <li class="active"><a href="#">XL</a></li>
                <li><a href="#">L</a></li>
                <li><a href="#">4XL</a></li>
                <li><a href="#">XXL</a></li>
              </ul>
            </div>
          </div>
          <div class="prod-info">
            <p class="prod-price">
              <b class="item_current_price">$238</b>
            </p>
            <p class="prod-qnt">
              <input type="text" value="1" />
              <a href="#" class="prod-plus"><i class="fa fa-angle-up"></i></a>
              <a href="#" class="prod-minus"><i
                  class="fa fa-angle-down"
                ></i></a>
            </p>
            <p class="prod-addwrap">
              <a href="#" class="prod-add">Add to cart</a>
            </p>
          </div>
          <ul class="prod-i-props">
            <li>
              <b>SKU</b>
              05464207
            </li>
            <li>
              <b>Manufacturer</b>
              Mayoral
            </li>
            <li>
              <b>Material</b>
              Cotton
            </li>
            <li>
              <b>Pattern Type</b>
              Print
            </li>
            <li>
              <b>Wash</b>
              Colored
            </li>
            <li>
              <b>Style</b>
              Cute
            </li>
            <li>
              <b>Color</b>
              Blue, Red
            </li>
            <li><a href="#" class="prod-showprops">All Features</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Quick View Product - end -->
  </section>
</main>
<!-- Main Content - end -->

{{> home_footer}}

